@import "../scss/variables";

.container {
  height: 100%;
  
  @media (min-width: 45em) {
    min-height: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100px 1fr;    
  }
}

.sidebar {
  background-color: var(--nav-color);
}

.main-content {
  min-height: 100%;
  padding: 1.5rem;
  background-color: var(--bg-color);
  color: var(--text-clr);
}