/* You can add global styles to this file, and also import other style files */
/* MAIN BG: #141625 */
/* NAV BG: #1e2139 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}